<section id="inicio">
    <div class="contenido">
        <header>
            <div class="contenido-header">
              <img src="../assets/images/logo.png" width="15%" height="15%">
                <h1>Argentina Programa</h1><br>
                <h4 style="color:#ffff">#YoProgramo</h4>
                <nav id="nav" class="">
                    <ul id="links">
                        <li><a href="#inicio" class="seleccionado" onclick="seleccionar(this)">INICIO</a></li>
                        <li><a href="#sobremi" onclick="seleccionar(this)">SOBRE MI</a></li>
                        <li><a href="#servicios" onclick="seleccionar(this)">EDUCACION</a></li>
                        <li><a href="#skills" onclick="seleccionar(this)">SKILLS</a></li>
                        <li><a href="#portfolio" onclick="seleccionar(this)">PROYECTOS</a></li>
                        <!-- <li><a href="#contacto" onclick="seleccionar(this)">CONTACTO</a></li> -->
                    </ul>
                </nav>
                <div id="icono-nav" onclick="responsiveMenu()">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="redes">
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="#"><i class="fa-brands fa-github"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram-square"></i></a>
                </div>
                <div class="loguin">
                    <button type="button" class="btn btn-outline-light">Loguin</button>
                </div>
            </div>
        </header>
        <div class="presentacion">
            <p class="bienvenida">Bienvenidos</p>
            <h2>Soy <span>Gisela Segovia</span>, Developer Full Stack Trainee.</h2>
            <p class="descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, </p>
            <!-- <a href="#portfolio">Ir a Portafolio</a> -->
        </div>
    </div>
</section>