<section id="servicios">
    <h3 class="titulo-seccion">Educacion:</h3>
    <div class="fila">
        <div class="servicio">
            <img src="../assets/images/logo-instituto-superior-del-milagro.png" width="30%" height="30%">
            <h4>Tecnico Superior en Analisis de Sistemas.</h4>
            <hr>
            <ul class="servicios-tag">
                <li>Web</li>
                <li>Graphic</li>
                <li>SEO</li>
            </ul>
            <p>I have been providing web design services with great success for 9 years. The client is very happy</p>
        </div>
        <div class="servicio">
          <img src="../assets/images/Digitalers .png" width="90%" height="20%">
            <h4>Desarrollador Full Stack PHP.</h4>
            <hr>
            <ul class="servicios-tag">
                <li>Web</li>
                <li>Graphic</li>
                <li>SEO</li>
            </ul>
            <p>I have been providing web design services with great success for 9 years. The client is very happy</p>
        </div>
        
    </div>
    <div class="fila">
        <div class="servicio">
            <img src="../assets/images/comit.jpg" width="30%" height="30%">
              <h4>Desarrollador Full Stack .Net Core.</h4>
              <hr>
              <ul class="servicios-tag">
                  <li>Web</li>
                  <li>Graphic</li>
                  <li>SEO</li>
              </ul>
              <p>I have been providing web design services with great success for 9 years. The client is very happy</p>
          </div>
        <div class="servicio">
          <img src="../assets/images/isicana.png" width="30%" height="30%">
            <h4>Beginner Ingles.</h4>
            <hr>
            <ul class="servicios-tag">
                <li>Web</li>
                <li>Graphic</li>
                <li>SEO</li>
            </ul>
            <p>I have been providing web design services with great success for 9 years. The client is very happy</p>
        </div>
    </div>
</section>
